<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "ProfilePage",
      "@id": "https://visualizing.jp/profile/",
      "url": "https://visualizing.jp/profile/",
      "name": "矢崎裕一 について",
      "inLanguage": "ja",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "mainEntity": { "@id": "https://orcid.org/0009-0005-2429-3279" }
    },
    {
      "@type": "Person",
      "@id": "https://orcid.org/0009-0005-2429-3279",
      "name": "矢崎裕一",
      "alternateName": ["Yuichi Yazaki", "矢崎 裕一", "やざき ゆういち"],
      "givenName": "裕一",
      "familyName": "矢崎",
      "jobTitle": "データ可視化専門家",
      "description": "データ可視化の専門家。合同会社ノーテーション代表。『データ可視化の基本が全部わかる本』著者。Data Visualization Japan 発起人。",
      "url": "https://visualizing.jp/profile/",
      "mainEntityOfPage": { "@id": "https://visualizing.jp/profile/" },
      "image": "https://visualizing.jp/img/photo_yuichiyazaki.png",
      "email": "mailto:info@notation.co.jp",
      "nationality": { "@type": "Country", "name": "Japan" },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "ORCID",
        "value": "https://orcid.org/0009-0005-2429-3279"
      },
      "worksFor": { "@id": "https://notation.co.jp/#organization" },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "千葉工業大学",
        "url": "https://www.it-chiba.ac.jp/"
      },
      "knowsAbout": [
        "データ可視化", "Data Visualization",
        "情報デザイン", "Information Design",
        "インフォグラフィック", "データジャーナリズム",
        "Vega-Lite", "地図表現", "Cartography"
      ],
      "knowsLanguage": ["ja", "en"],
      "sameAs": [
        "https://researchmap.jp/yuichiyazaki",
        "https://visualizing.jp/",
        "https://data-visualization.jp/",
        "https://data-viz-lectures.com/",
        "https://structure-and-representation.com/",
        "https://explorable-explanations.com/",
        "https://data-journalism.org/",
        "https://www.dataviz.jp/",
        "https://notation.co.jp/",
        "https://all-about-book.visualizing.jp/",
        "https://yuichi-yazaki.myportfolio.com/",
        "https://www.youtube.com/@visualizingjp",
        "https://twitter.com/visualizing_jp"
      ]
    },
    {
      "@type": "Organization",
      "@id": "https://notation.co.jp/#organization",
      "name": "合同会社ノーテーション",
      "alternateName": "Notation LLC",
      "url": "https://notation.co.jp/",
      "founder": { "@id": "https://orcid.org/0009-0005-2429-3279" }
    },
    {
      "@type": "Book",
      "name": "データ可視化の基本が全部わかる本",
      "author": { "@id": "https://orcid.org/0009-0005-2429-3279" },
      "publisher": { "@type": "Organization", "name": "翔泳社" },
      "datePublished": "2024-08",
      "numberOfPages": 352,
      "isbn": "9784798183688",
      "url": "https://all-about-book.visualizing.jp/",
      "inLanguage": "ja"
    },
    {
      "@type": "Book",
      "name": "RESASの教科書",
      "author": { "@id": "https://orcid.org/0009-0005-2429-3279" },
      "publisher": { "@type": "Organization", "name": "日経BP" },
      "datePublished": "2016",
      "inLanguage": "ja"
    }
  ]
}
</script>
